[submodule "external/aap-core"]
	path = external/aap-core
	url = https://github.com/atsushieno/aap-core.git
[submodule "external/aap-juce"]
	path = external/aap-juce
	url = https://github.com/atsushieno/aap-juce.git
[submodule "external/ddsp-vst"]
	path = external/ddsp-vst
	url = https://github.com/tank-trax/ddsp-vst.git
